.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-blog-section {
  margin-bottom: 20px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.published-blogs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.published-blogs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.created-at {
  font-size: 14px;
  color: #a0a0a0;
  
}

.blog-card h3{
  color: black;
}