.body{
  margin: 0;
  padding: 0;
  }
  *{
    box-sizing: border-box;
  }
  .contacts {
      position: relative;
      height: 300px;
      overflow: hidden;
      margin-top: 60px;
      margin-bottom: 56px;
    }
    
    .contactsImg {
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
    
    .contactsTitles {
      position: absolute;
      display:flex;
      flex-direction: column;
      align-items: center;
      font-family: "Lora", serif;
      top: 20%;
      margin: 8px 30px;
      font-size: 50px;
      left: 50%; 
      transform: translate(-50%, -50%);
      text-align: center;
      color:white;
      z-index: 1;
    }
    
    h2{
      margin:210px 0px 60px;
      padding:0px 0px 30px;
      text-align: center;
      font-family: "Lora", serif;
      color: #333333;
    }
    p{
      color: #170808;
      font: 14px inter,sans-serif;
      margin: 0px 0px 14.4px;
      text-align: center;
      font-family: "Lora", serif;
      font-weight: bold;
      font-size: large;
    }
    .contactInfo{
      /* color: #9b9b9b; */
      font: 15px "open-sans", sans-serif;
      margin: 0px 0px 30px;
      padding: 0px 15px;
    }
    .contactsAdress {
      display: flex;
      font:15px "open-sans", sans-serif; ;
      flex-wrap: wrap;
      margin: 0px 15px;
      justify-content: space-around;
    }
    
    .contactItem {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
    
    .contactItem h4 {
      margin-right: 10px;
      color: #434343;
      font: 20px "open-sans", sans-serif;
    }
    .h{
      color: #9b9b9b;
      font: 15px "open sans",sans-serif;
      padding: 0px 0px 24px;
      margin-top: 10px;
    }
    .e{
      margin-top: 10px;
      color: #58c56f;
      font: 15px "open sans",sans-serif;
      padding: 0px 0px 24px;
    }
    form {
      width: 100%;
      max-width: 600px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      /* margin-left: 20px; */
    }
    
    .form-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 20px;
    }
    
    .form-group {
      width: 100%;
      margin-bottom: 15px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      resize: vertical;
    }
    
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
    }
    
    button[type="button"] {
      background-color: #f44336;
      color: white;
    } 