.Log{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #58c56f;
  /* background-image: linear-gradient(79deg,#98ff98,#e6e6fa,#ffe4e1); */
  /* background-image: linear-gradient(to bottom,#7fff00,#00ff7f); */
  /* background-image: linear-gradient(to bottom,#8adde6,#87cefa,#87cee8); */
  /* background-image: linear-gradient(79deg,#add8e6,#89cff0,48%,#87ceeb); */

  color: white;
}

.form-container,.login-form,.register-form{
  display: flex;
  flex-direction: column;

}

@media screen and (min-width:600px) {
  
  .form-container{
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
  }
}



label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;

  background-color: white;
  
}

button{
  border: none;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color:antiquewhite ;
}

.link-btn{
  background:none ;
  color: white;
  text-decoration: underline;
} 